<h1>Table mimicing Angular layout</h1>

<angular-inspired-web-component-table [data]="dataAsObjects" [cols]="cols">
  <div columnDef="name">
    <th>Name</th>
    <td cell cellDef="let row">{{ '{{row.name}}' }}</td>
  </div>
  <div columnDef="totalRuns">
    <th header-cell>Total Runs</th>
    <td cell cellDef="let row">{{ '{{row.totalRuns}}' }}</td>
  </div>
  <div columnDef="system">
    <th header-cell>System</th>
    <td cell cellDef="let row">{{ '{{row.system}}' }}</td>
  </div>
  <div columnDef="details">
    <th header-cell>Details</th>
    <td cell cellDef="let row; let rowId = index">
      <a href="detail/{{ '{{rowId}}' }}">Link for {{ '{{rowId}}' }}</a>
    </td>
  </div>

  <!-- <tr mat-header-row *matHeaderRowDef="headers"></tr> -->
  <!-- <tr mat-row *matRowDef="let row; columns: headers;"></tr> -->
</angular-inspired-web-component-table>
<hr />
<h1>MLV TM Web component Table</h1>
<wrapped-angular-table [data]="data" [cols]="colKeys">
  <div matColumnDef="author">
    <span mat-header-cell *matHeaderCellDef> Author </span>
    <span mat-cell *matCellDef="let row"> Outer {{ row.author }} </span>
  </div>
</wrapped-angular-table>
<hr />

<h1>Table using Render Method:</h1>
<web-component-table-accepting-a-render-method
  [data]="data"
  [cols]="cols"
  [renderCell]="renderCell"
></web-component-table-accepting-a-render-method>
<h1>Table using Slot Backup Method:</h1>
<web-component-table-accepting-rendering-via-slots [data]="data" [cols]="cols">
  <ng-container *ngFor="let row of data; let rowId = index">
    <div slot="data-{{ rowId }}-3">
      <a href="detail/{{ rowId }}">Link for {{ rowId }}</a>
    </div>
  </ng-container>
</web-component-table-accepting-rendering-via-slots>
<hr />
<h1>Table using WC Method:</h1>
<web-component-table-built-as-html>
  <web-component-table-built-as-html-thead slot="thead">
    <th *ngFor="let col of cols">
      {{ col }}
    </th>
  </web-component-table-built-as-html-thead>
  <web-component-table-built-as-html-tbody slot="tbody">
    <tr *ngFor="let row of data; let rowId = index">
      <td *ngFor="let col of cols; let colId = index">
        <div *ngIf="colId == 3; else cell">
          <a href="detail/${{ rowId }}">Link for {{ rowId }}</a>
        </div>
        <ng-template #cell>
          {{ row[colId] }}
        </ng-template>
      </td>
    </tr>
  </web-component-table-built-as-html-tbody>
</web-component-table-built-as-html>
